/*------------------------------------*\
  # MIN-WIDTH: 640px
\*------------------------------------*/

@media (min-width: 640px) {
  /* HEADER */
  .header__short-logo,
  .header__menu-icon,
  .header__short-search {
    display: none;
  }
  .header__full-logo,
  .header__search,
  .header__user {
    display: block;
  }
  .header__search-side,
  .header__search-block {
    flex-grow: 1;
  }
  /* CATEGORIES */
  .item-list__tiles {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*------------------------------------*\
  # MIN-WIDTH: 720px
\*------------------------------------*/

@media (min-width: 720px) {
  /* CATEGORIES */
  .item-list__tiles {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*------------------------------------*\
  # MIN-WIDTH: 960px
\*------------------------------------*/

@media (min-width: 960px) {
  /* CATEGORIES */
  .item-list__tiles {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*------------------------------------*\
  # MIN-WIDTH: 1280px
\*------------------------------------*/

@media (min-width: 1280px) {

}

/*------------------------------------*\
  # MIN-WIDTH: 1400px
\*------------------------------------*/

@media (min-width: 1400px) {

}

/*------------------------------------*\
  # MIN-WIDTH: 1920px
\*------------------------------------*/

@media (min-width: 1920px) {
  
}