/*------------------------------------*\
  # MAX-WIDTH: 320px
\*------------------------------------*/

@media (max-width: 320px) {

}

/*------------------------------------*\
  # MIN-WIDTH: 560px
\*------------------------------------*/

@media (min-width: 560px) {
  /* HEADER */
  .header__logo {
    display: block;
  }
  .header__menu-block {
    display: none;
  }
  .search-short {
    display: none;
  }
  .search-full {
    display: block;
  }
  /* ITEMS LIST */
  .item-list__tiles {
    grid-template-columns: repeat(2, 1fr); 
  }
  .tile {
    width: calc(50% - 8px);
  }
}

/*------------------------------------*\
  # MIN-WIDTH: 640px
\*------------------------------------*/

@media (min-width: 640px) {
  /* HEADER */
  .header__icons-bar {
    display: flex;
  }
}

/*------------------------------------*\
  # MIN-WIDTH: 720px
\*------------------------------------*/

@media (min-width: 720px) {
  /* ITEMS LIST */
  .item-list__tiles {
    grid-template-columns: repeat(3, 1fr);
  }
  .tile {
    width: calc(32% - 2px);
  }
}

/*------------------------------------*\
  # MIN-WIDTH: 960px
\*------------------------------------*/

@media (min-width: 960px) {
  /* HEADER */
  .header__feed-type {
    display: flex;
  }
  /* ITEMS LIST */
  .item-list__tiles {
    grid-template-columns: repeat(4, 1fr);
  }
  .tile {
    width: calc(25% - 12px);
  }
  /* PROFILE */
  .profile-block__profile,
  .profile-card__edit {
    flex-shrink: 0;
    width: auto;
  }
  .profile-block {
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
  }
  .profile-card {
    padding: 25px;
    margin-top: -100px;
    backdrop-filter: blur(300px);
    background-color: rgba(18, 18, 18, 0.4);
  }
  .profile-card__avatar-block {
    order: 0;
  }
  .profile-card__edit,
  .profile-card__nickname {
    order: 1;
  }
  .profile-card__information {
    order: 2;
  }
  .profile-card__inf-wrd {
    display: none;
  }
  .profile-card__information-block {
    height: auto;
  }
  .profile-card__inf-social {
    margin-top: 25px;
  }
}

/*------------------------------------*\
  # MIN-WIDTH: 1280px
\*------------------------------------*/

@media (min-width: 1280px) {
  /* HEADER */
  .header {
    padding: 20px 64px;
  }
  /* ITEMS LIST */
  .item-list__tiles {
    grid-template-columns: repeat(5, 1fr);
  }
  .tile {
    width: calc(20% - 14px);
  }
}

/*------------------------------------*\
  # MIN-WIDTH: 1440px
\*------------------------------------*/

@media (min-width: 1440px) {
  /* HEADER */
  .header {
    padding: 20px 112px;
  }
  .header__search-block {
    flex-grow: 1;
  }
  .header__icons-bar {
    flex-grow: 1;
  }
}

/*------------------------------------*\
  # MIN-WIDTH: 1920px
\*------------------------------------*/

@media (min-width: 1920px) {
  /* ITEMS LIST */
  .item-list__tiles {
    grid-template-columns: repeat(6, 1fr);
  }
}