/*------------------------------------*\
	#FONTS
\*------------------------------------*/

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 100;
  font-display: swap;
  src: url("../assets/fonts/Inter/Inter-Thin.woff2?v=3.15") format("woff2"),
       url("../assets/fonts/Inter/Inter-Thin.woff?v=3.15") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 100;
  font-display: swap;
  src: url("../assets/fonts/Inter/Inter-ThinItalic.woff2?v=3.15") format("woff2"),
       url("../assets/fonts/Inter/Inter-ThinItalic.woff?v=3.15") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 200;
  font-display: swap;
  src: url("../assets/fonts/Inter/Inter-ExtraLight.woff2?v=3.15") format("woff2"),
       url("../assets/fonts/Inter/Inter-ExtraLight.woff?v=3.15") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 200;
  font-display: swap;
  src: url("../assets/fonts/Inter/Inter-ExtraLightItalic.woff2?v=3.15") format("woff2"),
       url("../assets/fonts/Inter/Inter-ExtraLightItalic.woff?v=3.15") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: url("../assets/fonts/Inter/Inter-Light.woff2?v=3.15") format("woff2"),
       url("../assets/fonts/Inter/Inter-Light.woff?v=3.15") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 300;
  font-display: swap;
  src: url("../assets/fonts/Inter/Inter-LightItalic.woff2?v=3.15") format("woff2"),
       url("../assets/fonts/Inter/Inter-LightItalic.woff?v=3.15") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/Inter/Inter-Regular.woff2?v=3.15") format("woff2"),
       url("../assets/fonts/Inter/Inter-Regular.woff?v=3.15") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/Inter/Inter-Italic.woff2?v=3.15") format("woff2"),
       url("../assets/fonts/Inter/Inter-Italic.woff?v=3.15") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("../assets/fonts/Inter/Inter-Medium.woff2?v=3.15") format("woff2"),
       url("../assets/fonts/Inter/Inter-Medium.woff?v=3.15") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 500;
  font-display: swap;
  src: url("../assets/fonts/Inter/Inter-MediumItalic.woff2?v=3.15") format("woff2"),
       url("../assets/fonts/Inter/Inter-MediumItalic.woff?v=3.15") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("../assets/fonts/Inter/Inter-SemiBold.woff2?v=3.15") format("woff2"),
       url("../assets/fonts/Inter/Inter-SemiBold.woff?v=3.15") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 600;
  font-display: swap;
  src: url("../assets/fonts/Inter/Inter-SemiBoldItalic.woff2?v=3.15") format("woff2"),
       url("../assets/fonts/Inter/Inter-SemiBoldItalic.woff?v=3.15") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/Inter/Inter-Bold.woff2?v=3.15") format("woff2"),
       url("../assets/fonts/Inter/Inter-Bold.woff?v=3.15") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/Inter/Inter-BoldItalic.woff2?v=3.15") format("woff2"),
       url("../assets/fonts/Inter/Inter-BoldItalic.woff?v=3.15") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("../assets/fonts/Inter/Inter-ExtraBold.woff2?v=3.15") format("woff2"),
       url("../assets/fonts/Inter/Inter-ExtraBold.woff?v=3.15") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 800;
  font-display: swap;
  src: url("../assets/fonts/Inter/Inter-ExtraBoldItalic.woff2?v=3.15") format("woff2"),
       url("../assets/fonts/Inter/Inter-ExtraBoldItalic.woff?v=3.15") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("../assets/fonts/Inter/Inter-Black.woff2?v=3.15") format("woff2"),
       url("../assets/fonts/Inter/Inter-Black.woff?v=3.15") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 900;
  font-display: swap;
  src: url("../assets/fonts/Inter/Inter-BlackItalic.woff2?v=3.15") format("woff2"),
       url("../assets/fonts/Inter/Inter-BlackItalic.woff?v=3.15") format("woff");
}

/*------------------------------------*\
	#COMMON
\*------------------------------------*/

body {
  font-family: "Inter";
  font-weight: normal;
  font-style: 14px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 0;
  min-height: 0;
  outline: none;
}
#app {
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}
.app_dark {
  background: #050505;
  color: #ffffff;
}
.app_light {
  background: #fff;
  color: #000;
}

.main {
  /* padding:  32px; */
  position: relative;
  margin-top: 64px;
}

.cookie-agreement {
  position: fixed;
  bottom: 0;
  z-index: 999;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  left: 0;
  right: 0;
  padding: 24px 40px 24px 24px;
  gap: 16px;
  min-width: 320px;
  align-items: center;
  background-color: #0A0A0A;
}
.cookie-agreement__text {
  font-weight: 500;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: -0.003em;
  color: #696969;
}

/* COMPONENTS */

.vm--modal {
  height: auto !important;
}

input[type=file] {
  position: absolute;
  left: -9999px;
}
input,
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  border: none;
  height: 48px;
  padding: 12px 20px;
  /* -webkit-box-shadow: 0 0 0 1000px #1b1b1b inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-text-fill-color: white !important; */
}
.app_dark input {
  /* border: none;
  height: 48px;
  border-radius: 12px;
  padding: 12px 20px;
  line-height: 22px;
  letter-spacing: -0.014em;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 24px;
  transition: all .35s; */
  font-size: 18px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: 12px;
}
.app_dark input::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 17px;
  letter-spacing: -0.006em;
  color: rgba(255, 255, 255, 0.4);
}
.app_dark input:focus {
  /* color: #ffffff;
  background-color: rgba(255, 255, 255, 0.15); */
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.app_dark textarea {
  font-family: "Inter";
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.014em;
  color: rgba(255, 255, 255, 0.7);
  border: none;
  width: 100%;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 12px;
  padding: 16px 20px 20px 20px;
  resize: none;
  transition: all .35s;
  height: 120px;
}
.app_dark textarea::placeholder {
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.014em;
  color: rgba(255, 255, 255, 0.4);
}
.app_dark textarea:focus {
  color: #ffffff;
}
.app_dark textarea::-webkit-scrollbar {
  /* width: 0; */
}


button {
  border: none;
  outline: none;
  background: none;
  font-family: "Inter";
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}
h2 {}
h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.022em;
}
h4 {
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #B4B4B4;
  margin-bottom: 8px;
}
h5 {}
h6 {}

/*------------------------------------*\
	#STYLES
\*------------------------------------*/

/* COMPONENTS */

.btn {
  padding: 10px 32px 11px;
  background: #DA71FF;
  border-radius: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.011em;
  color: #000000;
  cursor: pointer;
}
.btn_loading {
  color: transparent;
  background-image: url(../assets/images/loader.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
}
.btn_no-bg {
  background-color: transparent;
  color: #B4B4B4;
}
.arrow {
  display: block;
  width: 10px;
  height: 10px;
  background-image: url(../assets/images/i-arrow_small.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.pointer {
  cursor: pointer;
}
.center {
  display: block;
  margin: 0 auto;
}
img[lazy=loading] {
  /*your style here*/
}

/* modal */

.modal {
  background: rgba(18, 18, 18, 0.6) !important;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(120px) !important;
  border-radius: 32px !important;
}

.modal__close {
  background: url('../assets/images/i-close.svg') no-repeat center;
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: absolute;
  top: 27px;
  right: 27px;
}
/* tooltip */
.tooltip {
  display: block !important;
	z-index: 10000;
}
.tooltip .tooltip-inner {
	padding: 10px 13px;
	background: #121212;
	border-radius: 4px;
	font-size: 13px;
	line-height: 16px;
	color: #B4B4B4;;
	text-align: center;	
}
.tooltip.align-left .tooltip-inner {
	text-align: left;
}
.tooltip .tooltip-arrow {
  width: 10px;
  height: 10px;
  position: absolute;
  margin: 5px;
	/* border: 1px solid #EEEEEE; */
	border-top: none;
	border-left: none;
	background: #121212;
	z-index: 1;
	transform: rotate(45deg);

  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}
.tooltip[x-placement^="bottom"] {
  margin-top: 15px;
}
.tooltip[x-placement^="bottom"] .tooltip-arrow {
  top: -5px;
}
.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity .15s, visibility .15s;
}
.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity .15s;
}
/* notification */
.notification {
  z-index: 999;
  display: flex;
  align-items: center;
  margin-left: 60px;
  position: fixed;
  bottom: -1000px;
  max-width: 395px;
  /* min-width: 300px; */
  right: 15px;
  background-color: #121212;
  padding: 20px 32px 20px 26px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  font-size: 14px;
  transition: bottom .35s;
  transition-timing-function: cubic-bezier(.14,.91,.84,1.01);
}
.notification_show {
  bottom: 15px;
}
.notification__close {
  width: 22px;
  height: 22px;
  position: absolute;
  top: -6px;
  right: -6px;
  border-radius: 11px;
  background-color: #343434;
  background-image: url(../assets/images/i-notification_close.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.notification__status-icon {
  margin-right: 18px;
  flex-shrink: 0;
}
.notification__text_success {
  color: #17B556;
}
.notification__text_error {
  color: #EC3838;
}
.notification__text_email {
  color: #fff;
}
.notification__text_email a {
  color: #DA71FF;
  text-decoration-line: underline;
}

/* tag */

.tag {
  padding: 2px 8px;
  font-size: 18px;
  width: auto !important;
  height: auto !important;
  display: inline-block;
  background: rgba(255, 255, 255, 0.05);
  line-height: 140%;
  letter-spacing: -0.022em;
  color: #B4B4B4;
  border-radius: 6px;
  transition: all .35s !important;
}
.tag_big {
  font-size: 22px;
  padding: 2px 12px;
}
.tag:hover {
  background: #DA71FF;
  color: rgb(32, 20, 20);
}

/* tags-input */

.tags-input {}
.tags-input__tags {
  display: flex;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 12px;
  min-height: 48px;
  cursor: text;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
  gap: 8px;
  margin-bottom: 24px;
}
.tags-input__tags input {
  background-color: transparent;
}
.tags-input__tag {
  background: #DA71FF;
  border-radius: 6px;
  padding: 1px 8px 2px;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.022em;
  color: #000000;
}
.tags-input__tag_selected {
  background-color: #5F356E;
}
.tags-input__input {
  flex-grow: 1;
  height: auto !important;
  background: transparent;
  padding: 0 0 0 3px !important;
  border-radius: 0 !important;
  color: #FFFFFF !important;
  width: 50px;
}
.tags-input__input:focus {
  background: transparent !important;
}
.tags-input__popular-tags {
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.014em;
  color: #DA71FF;
}
.tags-input__popular-tag:not(:last-child) {
  margin-right: 20px;
}
.tags-input__popular-tag span {
  display: inline-block;
}

/* switch */
.switch {
  display: inline-block;
}
.switch__trace {
  background: rgba(255, 255, 255, 0.03);;
  border-radius: 12px;
  width: 48px;
  height: 24px;
  padding: 4px;
  cursor: pointer;
  transition: all .35s;
}
.switch__trace_selected {
  background: #DA71FF;
}
.switch__switcher {
  background: #b4b4b4;
  width: 16px;
  height: 16px;
  border-radius: 55%;
  transition: all .35s;
}
.switch__switcher_selected {
  background: #fff;
  margin-left: 24px;
}

/* FILE LOADER */
.upload {
  border: 1px dashed #696969;
  box-sizing: border-box;
  border-radius: 12px;
}

.upload_loaded {
  border: none;
}
.upload__block {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 34px 10px 40px 10px;
  cursor: pointer;
}
.upload__block:hover .upload__headline {
  color: #DA71FF;
}
.upload__block:hover .upload__img path {
  fill: #DA71FF;
}
.upload__headline {
  color: #696969;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.022em;
  margin: 11px 0 8px 0;
  transition: all .35s;
}
.upload__img {
  width: 35px;
}
.upload__img path {
  width: 35px;
  fill: #696969;
  transition: all .35s;
}
.upload__subtext {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: -0.014em;
  color: #696969;
}
.upload__loaded-block {
  text-align: center;
}
.upload__loaded-img {
  width: 100%;
}

/* TRANSITIONS */

.fade-enter-active, .fade-leave-active {
  transition: opacity .35s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

/* loader */

.preloader {
  background: url(../assets/images/loader.gif) no-repeat center center;
  background-size: 70px;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
.preloader_inline {
  display: inline-block;
  vertical-align: middle;
}

/* loader */

.loader {
  display: block;
  position: relative;
  width: 25px;
  margin: 0 auto;
  height: 25px;
}
.loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 8px;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: loader-anim 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.loader div:nth-child(1) {
  animation-delay: -0.45s;
}
.loader div:nth-child(2) {
  animation-delay: -0.3s;
}
.loader div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loader-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* search-field */
.search {
  position: relative;
}
.search__tips-loading {
  background-image: url(../assets/images/loader.gif);
  background-image: url(../assets/images/loader.gif);
  width: 25px;
  height: 25px;
  background-size: 25px;
  position: absolute;
  top: calc(50% - 12.5px);
  right: 45px;
}
.search__close {
  background: url('../assets/images/i-close_gray.svg') no-repeat center;
  width: 15px;
  height: 15px;
  position: absolute;
  top: calc(50% - 7.5px);
  right: 27px;
}
#main-searh {
  background-color: #121212;
  background-image: url('../assets/images/i-search.svg');
  background-repeat: no-repeat;
  padding: 12px 55px 12px 48px;
  border-radius: 20px;
  background-position: 18px center;
  color: #fff;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.011em;
  transition: all .35s;
}
#main-searh::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-family: Inter;
  line-height: 17px;
}
.search_opened {
  border-radius: 20px 20px 0 0 !important;
}
.search__tips {
  position: absolute;
  padding: 5px 21px 15px 21px;
  border-radius: 0 0 20px 20px;
  left: 0;
  right: 0;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: default;
}
.search__tips_wide {
  margin: 0 15px;
}
.search__tip {
  height: 44px;
  background: transparent;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  transition: all .35s;
}
.search__tip:hover {
  background: rgba(255, 255, 255, 0.05);
}
.search__tag {
  padding: 2px 8px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 6px;
  transition: all .35s;
}
.search__tip:hover .search__tag {
  background: #DA71FF;
  color: #000;
}
/* .search__result-text {
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.7);
} */


/* MOBILE MENU */

.mobile-menu {
  position: fixed;
  width: 300px;
  height: 100%;
  overflow-y: scroll;
  /* max-height: 667px; */
  top: 0;
  left: -300px;
  padding: 0 32px;
  background: rgba(18, 18, 18, .75);
  /* background: coral; */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(100px);
  z-index: 5;
  transition: left .35s;
}
@keyframes menuBgShow {
  0% {
    width: 100%;
    opacity: 0;
  }
  100% {
    width: calc(100% - 300px);
    opacity: 1;
  }
}
.mobile-menu__overlay {
  position: absolute;
  width: calc(100% - 300px);
  height: 100vh;
  right: 0;
  z-index: 1;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  animation: menuBgShow .35s;
  -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
  -moz-animation-fill-mode: forwards;    /* FF 5+ */
  -o-animation-fill-mode: forwards;      /* Not implemented yet */
  -ms-animation-fill-mode: forwards;     /* IE 10+ */
  animation-fill-mode: forwards;    
}
.mobile-menu_opened {
  left: 0;
}
.mobile-menu::-webkit-scrollbar {
  width: 0;
}
.mobile-menu__close {
  background: url(../assets/images/i-mobile-menu-close.svg) no-repeat center;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 24px;
  top: 24px;
}
/* authorized */
.mobile-menu__authorized {
  padding: 48px 0 32px 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.mobile-menu__user {
  display: flex;
  align-items: center;
  gap: 0 24px;
  margin-bottom: 24px;
  flex-shrink: 0;
}
.mobile-menu__avatar img {
  width: 64px;
  height: 64px;
  border-radius: 55%;
}
.mobile-menu__nickname {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.014em;
  color: rgba(255, 255, 255, 0.7);
}
.mobile-menu__menu-items_auth {
  margin-bottom: 64px;
}
.mobile-menu__auth-menu {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  gap: 16px 0;
  flex-direction: column;
  justify-content: flex-end;
}
.mobile-menu__auth-menu-item button {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.006em;
  color: rgba(255, 255, 255, 0.4);
}
.mobile-menu__auth-menu-logout button {
  color: rgba(255, 94, 94, 0.7);
}
/* not-authorized */
.mobile-menu__not-authorized {
  padding: 24px 0 40px 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  transition: all .35s;
}
.mobile-menu__logo {
  font-weight: bold;
  flex-shrink: 0;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.017em;
  color: #FFFFFF;
  margin-bottom: 108px;
}
.mobile-menu__menu-items {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  flex-shrink: 0;
}
.mobile-menu__menu-item button {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.017em;

  color: rgba(255, 255, 255, 0.6);
}
.mobile-menu__menu-items_not-auth {
  margin-bottom: 64px;
}
.mobile-menu__bottom-part {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: all .35s;
}
.mobile-menu__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.011em;
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 24px;
}
.mobile-menu__btn {
  width: 100%;
}
.mobile-menu__register {
  margin-top: 12px;
  background: rgba(255, 255, 255, 0.05);
  color: #fff;
}

/* HEADER */

.header-wrapper {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 27px;
  /* gap: 28px; */
  background: rgba(18, 18, 18, 0.75);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(50px);
  height: 64px;
}
.header__logo {
  display: none;
  font-weight: bold;
  flex-shrink: 0;
}
.header__logo h1 {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.017em;
  color: #FFFFFF;
}
.menu-short {
  display: flex;
  flex-direction: column;
  width: 18px;
  gap: 4px;
  transition: transform .35s;
}
.menu-short div {
  width: 100%;
  border-radius: 2px;
  height: 2px;
  background: rgba(255, 255, 255, 0.7);
}
.feed-mobile {
  flex-grow: 1;
  margin-left: 35px;
  position: relative;
  flex-shrink: 0;
}
.feed-mobile__active {
  display: inline-block;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.014em;
}
.feed-mobile__feed {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.7);
}
.feed-mobile__feed_active {
  color: #fff;
}
.feed-mobile__active_hide {
  visibility: hidden;
}
.feed-mobile__list {
  position: absolute;
  width: 180px;
  z-index: 1;
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  top: 5px;
  left: 64px;
  background: rgba(18, 18, 18, .35);
  box-shadow: 0px 8px 20px rgb(0 0 0 / 35%);
  backdrop-filter: blur(50px);
  border-radius: 20px;
}
.feed-mobile__active img {
  margin-bottom: 2px;
  margin-left: 8px;
}
.header__feed-type {
  display: none;
  align-items: center;
  cursor: default;
  flex-shrink: 0;
  /* padding: 0 24px; */
  /* gap: 48px; */
}
.header__feed-type_search-opened {
  flex-grow: 0;
}
.header__feed {
  color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: all .35s;
  font-size: 14px;
  
  padding: 7px 24px 8px;
  font-weight: 600;
}
.header__feed_active {
  color: #fff;
  cursor: pointer;
}
.header__search-block_wide {
  flex-grow: 1;
  margin-left: 20px;
}
.search-short__field {
  position: absolute;
  width: 100%;
  left: 0;
  max-width: 500px;
  top: 12px;
  padding: 0 15px;
}
.search-short__field_wide {
  position: relative;
  top: 0;
}
.search-short_320 #main-searh {
  height: 64px;
  margin-top: -12px;
  width: calc(100% + 30px);
  margin-left: -15px;
  border-radius: 0 !important;
}
.search-short_320 .search__close {
  top: calc(50% - 12.5px);
}
.search-short_320 .search__tips {
  margin: 0 !important;
  border-radius: 0 !important;
}

.search-full {
  display: none;
  flex-grow: 1;
}
.header__icons-bar {
  display: none;
  gap: 32px;
  cursor: default;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-end;
}
.user-area {
  display: flex;
  align-items: center;
}
.header__icons-bar > * {
  cursor: pointer;
}
.sign-buttons {
  display: none;
  flex-shrink: 0;
  flex-grow: 1;
  text-align: right;
}
.header__user-login {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.006em;
  color: rgba(255, 255, 255, 0.7);
  display: none;
}
.header__user {
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: relative;
  align-items: center;
  cursor: default;
  margin-left: 32px;
}
.header__user > * {
  cursor: pointer;
}
.header__desctop-menu {
  /* display: flex; */
  position: absolute;
  top: 64px;
  right: 66px;
  /* gap: 24px; */
  text-align: left !important;
  z-index: 1;
  justify-content: flex-start;
  align-items: flex-start;
  width: 210px;
  /* padding: 24px 32px 16px 32px; */
  padding-top: 24px;
  /* flex-direction: column; */
  background: rgba(11, 11, 11, 0.75);
  box-shadow: 0px 18px 21px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(50px);
  border-radius: 0px 0px 16px 16px;
}
.header__desctop-menu-item:not(:last-child) {
  margin-bottom: 24px;
}
.header__desctop-menu-item {
  padding: 0 32px;
  background: transparent;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
}
.header__desctop-logout {
  border-radius: 0px 0px 16px 16px;
  margin-top: 8px;
  color: #FF5E5E;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 0px 0px 16px 16px;
  width: 100%;
  text-align: left;
  padding: 17px 32px;
  margin-top: 16px;
}

.headet__user-avatar img {
  width: 32px;
  border-radius: 55%;
}

/* ITEMS LIST */

/* popular tags */

.popular-tags__headline {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -0.019em;
}
.popular-tags__block {
  margin-bottom: 48px;
  width: calc(100% + 64px);
  margin-left: -32px !important;
  padding-left: 32px !important;
}
/* .popular-tags__wrapper {
  white-space: nowrap;
  overflow-x: scroll;
} */
.popular-tags__wrapper::-webkit-scrollbar {
  height: 0;
}

.item-list {
  padding: 40px 32px;
}
.item-list__preloader {
  margin: 10px auto;
}
.item-list__tiles {
  /* padding: 15px 32px; */
  /* display: grid; */
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  grid-template-columns: 1fr; 
  gap: 16px;
}
.tile {
  width: 100%;
  transition: all .15s;
}
.tile__wrp {
  cursor: pointer;
  display: flex;
  gap: 10px;
  flex-direction: column;
  height: 100%;
}
.tile__thumbnail {
  overflow: hidden;
  /* border-radius: 5px; */
  flex-grow: 1;
}
.tile__thumbnail
img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

/* SIGN-FORM */

.vm--overlay {
  background-color: rgba(0, 0, 0, 0.7) !important;
}
.sign-in-form {
  border: 1px solid rgba(18, 18, 18, 0.01) !important;
  box-sizing: border-box !important;
  box-shadow: 0px 20px 50px 21px rgba(0, 0, 0, 0.5) !important;
  border-radius: 32px !important;
  background-color: rgba(18, 18, 18, 0.6) !important;
  backdrop-filter: blur(120px) !important;
  padding: 80px 24px 64px 24px;
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 32px !important;
}

.sign-form__close {
  position: absolute;
  cursor: pointer;
  right: 31px;
  top: 31px;
}
.sign-form__headline {
  text-align: center;
  margin-bottom: 64px;
}
.sign-form__field {
  width: 100%;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 95% center;
}
.sign-form__field:not(:last-child) {
  margin-bottom: 8px;
}
.sign-form__field input {
  height: 48px;
  /* -webkit-box-shadow: 0 0 0 1000px #1b1b1b inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-text-fill-color: white !important; */
  border-radius: 12px;
  padding: 12px 20px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.014em;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 24px;
  transition: all .35s;
  width: 100%;
}

/* AUTOCOMPLETE */
.sign-form__field input:-webkit-autofill {
  -webkit-background-clip: text;
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s !important;
}
.sign-form__field input:-webkit-autofill:focus { 
  -webkit-box-shadow: 0 0 0 30px #FFFFFF26 inset !important;
}

.sign-form__field input::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 17px;
  letter-spacing: -0.006em;
  color: rgba(255, 255, 255, 0.4);
}
.sign-form__field input:focus {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.15);
}
.sign-form__field_loading {
  background-image: url(../assets/images/loader.gif);
}
.sign-form__field_success {
  background-size: 15px;
  background-image: url(../assets/images/i-success.svg);
}
.sign-form__field_error {
  background-size: 15px;
  background-image: url(../assets/images/i-error.svg);
}
.sign-form__validation-error {
  min-height: 60px;
  font-size: 16px;
  line-height: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* identical to box height, or 21px */

  text-align: center;
  letter-spacing: -0.011em;

  /* Текст и иконки (Прозрачный)/Error */

  color: rgba(255, 94, 94, 0.4);
}
.sign-form__change-mode {
  margin-bottom: 16px;
}
.sign-form__change-mode,
.sign-form__reset-password,
.sign-form__confirmation {
  text-align: center;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
}
.sign-form__link {
  letter-spacing: -0.006em;
  text-decoration-line: underline;
  color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  display: block;
  cursor: pointer;
}
.sign-form__link_pink {
  text-decoration: none;
  display: inline;
  color: #da71ff;
}
.sign-form__button {
  margin-bottom: 60px !important;
}
/* form-group */

.form-group {
  position: relative;
  /* margin: 8px 0; */
}
.form-group__password-visibility {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: transparent;
  top: calc(50% - 14px);
  right: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.form-group__password {
  background-position-y: center;
  background-position-x: calc(100% - 50px);
}
.form-group__password-visibility_show {
  background-image: url(../assets/images/i-password_hide.svg);
}
.form-group__password-visibility_hide {
  background-image: url(../assets/images/i-password_show.svg);
}
.form-group__label {
  display: block;
  font-size: 18px;
  margin-bottom: 16px;
}
.justify-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.center-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* PROFILE */

.profile-banner,
.profile-banner__img {
  width: 100%;
}
.profile-block {
  display: flex;
  padding: 0 32px 20px 32px;
  flex-direction: column;
  align-items: center;
}
.profile-block__profile {
  display: block;
  width: 100%;
}
.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  margin-top: -50px;
}
.profile-card_no-banner {
  margin-top: 0;
}
.profile-card__avatar-block {
  display: inline-flex;
  border-radius: 55%;
  background-color: #000;
  overflow: hidden;
  padding: 15px;
  margin-bottom: 9px;
}
.profile-card__avatar-block img {
  width: 128px;
  height: 128px;
  border-radius: 55%;
  overflow: hidden;
}
.profile-card__inf-wrd {
  display: inline-flex;
  cursor: pointer;
  gap: 5px;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.011em;
  color: #696969;
  margin-bottom: 16px;
  transition: all .35s;
}
.profile-card__inf-wrd_opened {
  color: #FFFFFF;
}
.profile-card__nickname {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.021em;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.profile-card__nickname,
.profile-card__information {
  text-align: center;
}
.profile-card__information-block {
  font-weight: normal;
  height: 0;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.011em;
  color: rgba(255, 255, 255, 0.4);
  flex-direction: column;
  transition: all .35s;
  overflow: hidden;
}
.profile-card__information-block > *:not(:last-child) {
  margin-bottom: 5px;
}
.profile-card__information-block_opened {
  height: 78px;
  margin-bottom: 16px;
}
.profile-card__inf-social {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.profile-card__inf-social > * {
  cursor: pointer;
}
.profile-card__edit {
  margin: 10px 0 24px 0;
  width: 100%;
}
.profile-card__edit-button {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.profile-block__my-items {
  width: 100%;
}
.profile-tabs {
  margin: 24px 0;
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.014em;
  color: #444444;
}
.profile-tab {
  cursor: pointer;
  font-size: 18px;
  transition: all .35s;
}
.profile-tab_active {
  color: #fff;
}

/* UPLOAD-ITEM */

.upload-item {
  padding: 32px;
}
.upload-item__block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}
.upload-item__form {
  /* min-width: 400px; */
}
.upload-item__form > *:not(:last-child) {
  margin-bottom: 32px;
}
.upload-item__field {
  width: 100% !important;
  letter-spacing: -0.014em !important;
}
.upload-item__description,
.price-input {
  margin-bottom: 48px !important;
}
.price-input__auction {
  margin-top: 16px;
  display: flex;
  /* align-items: center; */
  gap: 16px;
}
.upload-item__price {
  width: auto !important;
}
.price-input__auction span {
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.006em;
  color: #B4B4B4;
}
.upload-item__button {
  width: 100%;
}

/* ITEM */

.item {
  
}
.item__block {
  display: flex;
  gap: 32px;
  flex-direction: column;
  max-width: 684px;
  margin: 0 auto;
  padding: 32px 24px 32px 24px;
}
.item__thumbnail {
  width: 100%;
  max-width: 640px;
  border-radius: 4px;
}
.item__information {
  border-bottom: 1px solid #2A2A2A;
  padding-bottom: 32px;
}
.item__name {
  margin-bottom: 16px;
}
.item__description {
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.014em;
  color: #696969;
  margin-bottom: 32px;
}
.item__tags {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 32px;
}
.item__statistics {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: -0.011em;
  color: #696969;
}
.item__statistics > * {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: left center;
}
.item__favorites-number {
  margin-right: 24px;
  padding-left: 28px;
  background-image: url(../assets/images/i-favorites.svg);
  cursor: default;
}
.item__views {
  padding-left: 28px;
  background-image: url(../assets/images/i-views.svg);
  cursor: default;
}
.item__actions {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  gap: 32px;
}
.item__to-favorite {
  /* margin: 30px 0 32px 8px; */
  display: inherit;
  background-color: transparent;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  padding-left: 28px;
  padding-top: 2px;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url(../assets/images/i-favorite.svg);
  
  letter-spacing: -0.011em;
  color: #B4B4B4;
}
.item__to-favorite_added {
  color: #DA71FF;
  background-image: url(../assets/images/i-in-favorite.svg);
}
.item__delete {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: -0.011em;
  color: #B4B4B4;
  padding-left: 28px;
  background: url(../assets/images/i-trash.svg) no-repeat left -1px;
}
.item__buy {
  display: flex;
  flex-grow: 1;
  gap: 0 24px;
  align-items: center;
}
.item__buy_hidden {
  visibility: hidden;
}
/* .item__buy button {
  margin-right: 24px;
} */
.item__price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  vertical-align: middle;
  letter-spacing: -0.019em;
  color: #DA71FF;
}

.item__author-more {
  margin-top: 16px;
  margin-bottom: 24px;
  padding: 0 16px;
}
.item__author {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}
.item__author-nickname-block {
  display: flex;
  gap: 16px;
  align-items: center;
}
.item__author-avatar {
  width: 32px;
  height: 32px;
  border-radius: 55%;
}
.item__author-nickname {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.006em;
  color: #B4B4B4;
}
.item__more-from-author {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.011em;
  flex-shrink: 0;

  color: rgba(255, 255, 255, 0.4);
}
.item__author-items {
  width: calc(100% + 32px);
  margin-left: -16px !important;
  padding-left: 16px !important;
}
.item__swiper {
  align-items: center;
}
.item__author-item {
  height: 100% !important;
}
.item__author-item-img {
  width: 100%;
  height: 100%;
}

/* SEARCH */

.search-page {
  padding: 32px;
}
.search-page 
.search__close {
  display: none;
}
.search-page .search {
  max-width: 900px;
  width: 100%;
}
.search-page__search {
  margin-bottom: 36px;
}
.search-page h2 {
  margin-bottom: 20px;
}
.search-page__tags {
  margin-bottom: 24px;
}

/* PURCHASE CONFIRMATION */

.purchase-confirmation {
  padding: 60px 40px 40px 40px;
}
.purchase-confirmation__headline {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
.purchase-confirmation__paragraph {
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.011em;
  color: rgba(255, 255, 255, 0.4);
}
.purchase-confirmation__paragraph_second {
  margin: 40px 0 48px;
}
.purchase-confirmation__line {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}
.purchase-confirmation__buy-block {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.purchase-confirmation__price {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.014em;
  color: #FFFFFF;
}

/* delete confirmation */

.delete-confirmation {
  padding-top: 32px;
}
.delete-confirmation h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0px;
  padding: 0 32px;
}
.delete-confirmation p {
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.011em;
  color: rgba(255, 255, 255, 0.4);
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0 24px 0;
  padding: 0 32px;
}
.delete-confirmation__buttons {
  display: flex;
  justify-content: space-between;
}
.delete-confirmation__buttons:hover
.delete-confirmation__button {
  border-color: transparent !important;
}
.delete-confirmation__button {
  width: 50%;
  background: rgba(0, 0, 0, 0.2);
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  letter-spacing: -0.011em;
  padding: 16px 0;
  transition: all .35s;
}
.delete-confirmation__button:hover {
  background: rgba(0, 0, 0, .4);
}
.delete-confirmation__button:nth-child(1) {
  color: rgba(255, 255, 255, 0.7);
  border-right: 2px solid rgba(0, 0, 0, 0.1);
}
.delete-confirmation__button:nth-child(2) {
  color: rgba(236, 56, 56, 0.9);
  border-left: 2px solid rgba(0, 0, 0, 0.1);
}

/* ADMIN PANEL */

.admin-panel {
  overflow-x: auto;
}
.admin-panel table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
  overflow-x: auto;
}
.admin-panel table td {
  border: 1px solid white;
  text-align: center;
}
.admin-panel table td button {
  color: white;
  cursor: pointer;
  margin: 5px;
}

/* PROFILE SETTINGS */

.profile-settings {
  padding: 32px 20px;
}
.profile-settings-container {
  max-width: 640px;
  margin: 0 auto;
}
.profile-settings__uploaders {
  margin-bottom: calc(64px + 40px);
}
/* banner upload */
.banner-upload__non-uploaded {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background: #1A1A1A;
  border-radius: 16px;
}
.banner-upload__logo path {
  transition: fill .35s;
}
.banner-upload__container {
  position: relative;
}
.banner-upload__uploaded:hover .banner-upload__uploaded-overflow {
  opacity: 1;
}
.banner-upload__uploaded-overflow {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  transition: all .2s;
}
.banner-upload__non-uploaded:hover .banner-upload__logo path {
  fill: #DA71FF;
}
.banner-upload__img {
  width: 100%;
  height: 100%;
}
/* avatar upload */
.avatar-upload {

}
.avatar-upload-block {
  position: relative;
}
.avatar-upload__container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 128px;
  height: 128px;
  border-radius: 55%;
  background-color: #121212;
  top: -64px;
  left: 48px;
  overflow: hidden;
  cursor: pointer;
}
.avatar-upload__uploaded:hover .avatar-upload__uploaded-overflow {
  opacity: 1;
}
.avatar-upload__uploaded-overflow {
  overflow: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  transition: all .35s;
}
.avatar-upload__logo path {
  transition: fill .2s;
}
.avatar-upload__container:hover .avatar-upload__logo path {
  fill: #DA71FF;
}
.avatar-upload__img {
  width: 100%;
  height: 100%;
}
.avatar-crop {
  padding: 15px;
}
.avatar-crop-button {
  margin-top: 15px;
}
/* settins-form */
.settings-form__headline {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.014em;
  color: #FFFFFF;
  margin-left: 48px;
  margin-bottom: 16px;
  text-align: left;
}
.settings-form__field {
  padding-left: 48px;
  display: flex;
  background-repeat: no-repeat;
  background-position: left center;
  position: relative;
}
.settings-form__field input {
  background-color: #0D0D0D;
  border-radius: 12px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.014em;
  width: 100%;
  color: #FFFFFF;
  background-position: 1000px center;
  transition: all .25s;
  position: relative;
  padding-right: 35px;
}
/* .settings-form__field:not(input:focus)::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  height: 100%;
  width: 56px;
  border-radius: 0 12px 12px 0;
  background: linear-gradient(180deg, #0D0D0D 3.09%, #0D0D0D 81.02%, rgba(13, 13, 13, 0) 118.75%);
  transform: rotate(90deg);
  z-index: 1;
} */
.settings-form__field input::placeholder {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.014em;
  color: #696969;
}
.settings-form__field input:focus {
  background-color: #2A2A2A;
}
.settings-form__field_error input:not(:focus) {
  background-image: url(../assets/images/i-error.svg);
  background-repeat: no-repeat;
  background-position: 95% center;
}
.settings-form__field_success input:not(:focus) {
  background-image: url(../assets/images/i-success.svg);
  background-repeat: no-repeat;
  background-position: 95% center;
}
.settings-form__social-error {
  display: none;
  margin-left: 48px;
  margin-top: 24px;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.011em;
  color: #EC3838;
}
.settings-form__social-error_show {
  display: block;
}
.settings-form__field:not(:last-child) {
  margin-bottom: 16px;
}
.settings-form__nickname {
  display: flex;
  align-items: center;
}
.settings-form__nickname-span,
.settings-form__mail-span {
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.017em;
  color: #696969;
  word-break: break-all;
}
.settings-form__edit-icon {
  margin-left: 19px;
  flex-shrink: 0;
}
.settings-form__icon {
  position: absolute;
  left: 0;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 12px;
}
.settings-form__icon-profile {
  background-image: url(../assets/images/i-settings-nickname.svg);
  margin-top: 0;
}
.settings-form__icon-vk {
  background-image: url(../assets/images/i-settings-vk.svg);
}
.settings-form__icon-fb {
  background-image: url(../assets/images/i-settings-facebook.svg);
}
.settings-form__icon-tw {
  background-image: url(../assets/images/i-settings-twitter.svg);
}
.settings-form__icon-inst {
  background-image: url(../assets/images/i-settings-instagram.svg);
}
.settings-form__icon-mail {
  margin-top: 2px;
  background-image: url(../assets/images/i-settings-mail.svg);
}
.settings-form__icon-password {
  background-image: url(../assets/images/i-settings-password.svg);
  margin-top: 8px;
}
.settings-form__icon-auth {
  background-image: url(../assets/images/i-settings-auth.svg);
  margin-top: 8px;
}
.settings-form__field input {
  background-color: #0D0D0D;
  border-radius: 12px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.014em;
  width: 100%;
  color: #FFFFFF;
}
.settings-form__field input::placeholder {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.014em;
  color: #696969;
}
.settings-form__field input:focus {
  background-color: #2A2A2A;
}
.settings-form__group {
  margin-top: 64px;
}
.settings-form__social .settings-form__headline {
  margin-bottom: 20px;
}
.settings-form__auth .settings-form__headline,
.settings-form__password .settings-form__headline {
  margin-bottom: 24px;
}
.settings-form__unconfirmed-email {
  padding: 12px 0 0 48px;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.011em;
  color: #EC3838;
}
.settings-form__unconfirmed-email-button {
  display: block;
  margin-top: 24px;
}
.settings-form-modal__headline {
  font-size: 30px;
  margin-bottom: 64px;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.022em;
}
.settings-form-modal__btn {
  margin-top: 25px;
}